<div class='event-type-picker sub-info activateable'>
  <div class='type'> 
    {{radio-button name='active-events' id='all' value='all' checked=eventSelection}} <label for='all'>All</label>
  </div>
  {{#each type in availableEventTypes}}
    <div class='type'> 
      {{radio-button name='active-events' id=type.name value=type.name checked=eventSelection}} <label {{bind-attr for=type.name}}><span {{bind-attr class=type.icon}}></span> {{type.label}}</label>
    </div>
  {{/each}}
</div>

{{#each feedItems}}
  <div class='row event'>
    <div class='col-md-12'>
      <div class='event-icon pull-left'>
        <span {{bind-attr class='this.icon'}}></span>
      </div>
      <div class='event-content'>
        <div>
          <span class='sub-info prefix'>{{this.prefix}}</span> <a {{bind-attr href='this.url'}} class='title' target='_blank'><strong>{{this.title}}</strong></a>
          <span class='sub-info happened-at'>
            {{time-ago-in-words this.happenedAt}}
          </span>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class='row event'>
    <div class='col-md-12'>
      D'oh! Nothing in this selection. I must be pretty boring...
    </div>
  </div>
{{/each}}

